/* NAVIGATION */
body { background:none; font-family:Tahoma,Arial,sans-serif; font-size:12px; margin:0px; padding:0px; }
.clearfix { }
.clearfix:after{ content: "."; display:block; height:0; font-size:0; clear:both; visibility:visible; }

nav { background:#3b7df6; margin:15px auto; width:1000px; padding:0px; position: relative; float: left; line-height: 30px;margin-bottom: 40px; }
nav a[title=sub] { font-weight:bold; }
#nav:after{ content: "."; display:block; height:0; font-size:0; clear:both; visibility:visible; }

nav ul { margin:0px; padding:0px; list-style:none; }
nav ul li { margin:0px; padding:0px 10px; list-style:none; float:left; }
nav ul li a { padding:0px 10px; margin:0px; color:#FFF; text-decoration:none; line-height: 30px; display: block; }
nav ul li:hover,
nav ul li.active { background:#444; color:#FFF; text-decoration:none; }

/* Level 2*/
nav ul.level_2 { width: 100%; background:#444; display:block; position:absolute; top:30px; left: 0px; }
nav ul.level_2 li.active a { background: #666; }

/* Level 3 */
nav ul.level_3 { width: 100%; background:#666; display:block; position:absolute; top:30px; left: 0px; }
nav ul.level_3 li.active a { background: #ccc; }



/* 2ND LEVEL DROP-DOWN MENU 
nav ul li > ul li ul { display:none; }
nav ul li > ul li:hover > ul { display:block; position:absolute; top:22px; }
nav ul li > ul li:hover ul li { margin:0px; padding:0px 0px; float:none; list-style:none; width:11em; position:relative; }
nav ul li > ul li:hover ul li a { display:block; background:#666; }
nav ul li > ul li:hover ul li a:hover { background:#999; }
*/
/* 3RD LEVEL DROP-DOWN MENU 
nav ul li > ul li ul li > ul { display:none; }
nav ul li > ul li ul li:hover > ul { display:block; position:absolute; top:0px; left:100%; }
nav ul li > ul li ul li:hover > ul li { list-style:none; float:none; margin-left:1px; padding:0px; }*/